<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>frontend_my_pet</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>telprompt</string>
		<string>comgooglemaps</string>
		<string>citymapper</string>
		<string>uber</string>
		<string>lyft</string>
		<string>transit</string>
		<string>truckmap</string>
		<string>waze</string>
		<string>yandexnavi</string>
		<string>moovit</string>
		<string>yandextaxi</string>
		<string>yandexmaps</string>
		<string>kakaomap</string>
		<string>tmap</string>
		<string>szn-mapy</string>
		<string>mapsme</string>
		<string>osmandmaps</string>
		<string>gett</string>
		<string>nmap</string>
		<string>dgis</string>
		<string>lftgpas</string>
		<string>sygic</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to find lost pets nearby.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location even when the app is in the background.</string>
	<key>NSContactsUsageDescription</key>
	<string>We need access to your contacts to let you easily add phone numbers when posting about lost pets.</string>
	<key>NSPhotoLibraryUsageDescription</key>
    <string>This app needs access to your photo library to let you choose pet images.</string>        <!-- :contentReference[oaicite:0]{index=0} -->
    <key>NSCameraUsageDescription</key>
    <string>This app needs to use your camera to take new pet photos.</string>                       <!-- :contentReference[oaicite:1]{index=1} -->
    <key>NSMicrophoneUsageDescription</key>
    <string>This app needs microphone access for recording pet videos with sound.</string> 
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
